
  body{
	 margin:0; 
	 padding:0;
	 font-family:corbel; 
	 height:95%;
  }

  .mast{
	 clear:both;
	 width:18%;
	 background:white;
	 float:left;
	 height:100%;
	 padding:0.5%;
	 color:white;
	 overflow:scroll;
	 overflow-x:hidden;
  }
  .deta{
	 width:80%;
     background:#bdc3c7;
     float:left;
     height:100%;
	 padding:0.5%;
     color:white;	 
  }
  .sub_mast{
	 width:96%;
     background:#3d566e;
	 padding:2%;
	 margin-top:2%;
	 display: flex;
     align-items: center;
     justify-content: center; 
	 height:20%;
     color:white;
  }
  .sub_mast:hover{
	 opacity:0.7;
	 cursor: hand;
  }
  .sub_det{
	 width:96%;
     background:white;
	 margin-top:0.3%;
	 padding:2%;
     color:white;
	 height:92%;
	 overflow:scroll;
	 overflow-x:hidden;
  }
